autoflake~=2.3.1
bandit~=1.8.3
black~=25.1.0
# use fork since main repo is not updated
# see https://github.com/rocioar/flake8-django/pull/134
# Note: python 3.12 is not supported
flake8-django @ git+https://github.com/terencehonles/flake8-django.git@a6e369e89d275dfd5514f2aa9d091aa36c5ff84b
flake8~=7.1.2
isort~=6.0.1
pylint-django~=2.6.1
pylint~=3.3.5
ruff~=0.12.7