amqp==5.1.0
asgiref==3.5.0
attrs==21.4.0
billiard==3.6.4.0
black==21.11b1
celery==5.2.3
certifi==2021.10.8
cfgv==3.3.1
click==8.0.4
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
distlib==0.3.4
Django==3.2.12
django-cache-memoize==0.1.10
django-rest-durin==1.0.0
django-user-agents==0.4.0
djangorestframework==3.13.1
drf-spectacular==0.21.2
elasticsearch==7.17.1
elasticsearch-dsl==7.4.0
filelock==3.6.0
flake8==4.0.1
humanize==4.0.0
identify==2.4.11
inflection==0.5.1
isort==5.10.1
jsonschema==4.4.0
kombu==5.2.4
mccabe==0.6.1
mypy-extensions==0.4.3
nodeenv==1.6.0
pathspec==0.9.0
platformdirs==2.5.1
pre-commit==2.16.0
prompt-toolkit==3.0.28
psycopg2-binary==2.9.3
pycodestyle==2.8.0
pyflakes==2.4.0
pyrsistent==0.18.1
python-dateutil==2.8.2
pytz==2021.3
PyYAML==6.0
regex==2022.3.2
six==1.16.0
slack-sdk==3.12.0
sqlparse==0.4.2
toml==0.10.2
tomli==1.2.3
typing_extensions==4.1.1
ua-parser==0.10.0
uritemplate==4.1.1
urllib3==1.26.8
user-agents==2.2.0
uWSGI==2.0.20
vine==5.0.0
virtualenv==20.13.3
wcwidth==0.2.5
