[flake8]
max-line-length = 160
ignore =
    # really useless and arguable
    DJ01,
    DJ08,
    # indentation rules
    E121,
    E125,
    # Colons should not have any space before them.
    E203,
    # module level import not at top of file
    E402,
    # line too long, ignored because it could block us on pre-commit hooks
    E501,
    # gives problems with wildcard import, init and similars
    F401,
    F403,
    F405,
    F841,
    W504,
    # Line break occurred before a binary operator
    W503,

exclude =
    */migrations/*,
    Dockerfile