autoflake==2.3.1
bandit==1.7.9
black==24.8.0
# use fork since main repo is not updated
# see https://github.com/rocioar/flake8-django/pull/134
flake8-django @ git+https://github.com/terencehonles/flake8-django.git@a6e369e89d275dfd5514f2aa9d091aa36c5ff84b
flake8==7.1.1
isort==5.13.2
pylint-django==2.5.5
pylint==3.2.6