x-no-healthcheck: &no-healthcheck
  healthcheck:
    disable: true

services:
  postgres:
    image: library/postgres:18-alpine
    container_name: greedybear_postgres
    restart: unless-stopped
    volumes:
      - postgres_data:/var/lib/postgresql
    env_file:
      - ./env_file_postgres

  uwsgi:
    image: intelowlproject/greedybear:prod
    container_name: greedybear_uwsgi
    restart: unless-stopped
    volumes:
      - ../configuration/uwsgi/greedybear.ini:/etc/uwsgi/sites/greedybear.ini
      - generic_logs:/var/log/greedybear
      - static_content:/opt/deploy/greedybear/static
    entrypoint:
      - ./docker/entrypoint_uwsgi.sh
    expose:
      - "8001"
      - "1717"
    env_file:
      - env_file
    depends_on:
      - postgres

  nginx:
    image: intelowlproject/greedybear_nginx:prod
    container_name: greedybear_nginx
    restart: unless-stopped
    volumes:
      - ../configuration/nginx/http.conf:/etc/nginx/conf.d/default.conf
      - ../configuration/nginx/errors.conf:/etc/nginx/errors.conf
      - ../configuration/nginx/locations.conf:/etc/nginx/locations.conf
      - nginx_logs:/var/log/nginx
      - static_content:/var/www/static
    ports:
      - "80:80"
    depends_on:
      - uwsgi



  qcluster:
    image: intelowlproject/greedybear:prod
    container_name: greedybear_qcluster
    restart: unless-stopped
    stop_grace_period: 3m
    command: sh -c "python manage.py setup_schedules && python manage.py qcluster"
    volumes:
      - generic_logs:/var/log/greedybear
      - mlmodels:/opt/deploy/greedybear/mlmodels
    env_file:
      - env_file
    depends_on:
      postgres:
        condition: service_started
      uwsgi:
        condition: service_healthy
    <<: *no-healthcheck

volumes:
  postgres_data:
  nginx_logs:
  generic_logs:
  static_content:
  mlmodels: