services:
  postgres:
    image: library/postgres:18-alpine
    container_name: greedybear_postgres
    restart: unless-stopped
    volumes:
      - postgres_data:/var/lib/postgresql
    env_file:
      - ./env_file_postgres
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]  
      interval: 10s
      timeout: 2s
      retries: 3
      start_period: 10s
      start_interval: 1s

  gunicorn:
    image: intelowlproject/greedybear:prod
    container_name: greedybear_gunicorn
    restart: unless-stopped
    volumes:
      - generic_logs:/var/log/greedybear
      - static_content:/opt/deploy/greedybear/static
    entrypoint:
      - ./docker/entrypoint_gunicorn.sh
    command: ["gunicorn", "greedybear.wsgi:application", "--bind", "0.0.0.0:8001", "--workers", "16"]
    expose:
      - "8001"
    env_file:
      - env_file
    depends_on:
      postgres:
        condition: service_healthy
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8001 || exit 1"]
      interval: 10s
      timeout: 2s
      retries: 30
      start_period: 120s
      start_interval: 1s

  nginx:
    image: intelowlproject/greedybear_nginx:prod
    container_name: greedybear_nginx
    restart: unless-stopped
    volumes:
      - ../configuration/nginx/http.conf:/etc/nginx/conf.d/default.conf
      - ../configuration/nginx/errors.conf:/etc/nginx/errors.conf
      - ../configuration/nginx/locations.conf:/etc/nginx/locations.conf
      - nginx_logs:/var/log/nginx
      - static_content:/var/www/static
    ports:
      - "80:80"
    depends_on:
      - gunicorn



  qcluster:
    image: intelowlproject/greedybear:prod
    container_name: greedybear_qcluster
    restart: unless-stopped
    stop_grace_period: 3m
    command: sh -c "python manage.py setup_schedules && exec python manage.py qcluster"
    volumes:
      - generic_logs:/var/log/greedybear
      - mlmodels:/opt/deploy/greedybear/mlmodels
    env_file:
      - env_file
    depends_on:
      postgres:
        condition: service_healthy
      gunicorn:
        condition: service_healthy
    user: "2000:82"
    healthcheck:
      disable: true

volumes:
  postgres_data:
  nginx_logs:
  generic_logs:
  static_content:
  mlmodels: