services:
  uwsgi:
    build:
      context: ..
      dockerfile: docker/Dockerfile
      args:
        WATCHMAN: "true"
    image: intelowlproject/greedybear:test
    volumes:
      - ../:/opt/deploy/greedybear
    environment:
      - DEBUG=True
      - DJANGO_TEST_SERVER=True
      - DJANGO_WATCHMAN_TIMEOUT=20
    entrypoint: >
      sh -c "pip install --no-cache-dir coverage>=7.3.2 &&
             exec /opt/deploy/greedybear/docker/entrypoint_uwsgi.sh"

  nginx:
    build:
      context: ..
      dockerfile: docker/Dockerfile_nginx
    image: intelowlproject/greedybear_nginx:test
    volumes:
      - ../configuration/nginx/django_server.conf:/etc/nginx/conf.d/default.conf

  celery_beat:
    image: intelowlproject/greedybear:test
    volumes:
      - ../:/opt/deploy/greedybear

  celery_worker_default:
    image: intelowlproject/greedybear:test
    volumes:
      - ../:/opt/deploy/greedybear