services:
  uwsgi:
    build:
      context: ..
      dockerfile: docker/Dockerfile
      target: development
    image: intelowlproject/greedybear:test
    volumes:
      - ../:/opt/deploy/greedybear
    environment:
      - DEBUG=True
      - DJANGO_TEST_SERVER=True

  nginx:
    build:
      context: ..
      dockerfile: docker/Dockerfile_nginx
    image: intelowlproject/greedybear_nginx:test
    volumes:
      - ../configuration/nginx/django_server.conf:/etc/nginx/conf.d/default.conf

  qcluster:
    image: intelowlproject/greedybear:test
    volumes:
      - ../:/opt/deploy/greedybear
    environment:
      - DEBUG=True