# you have to populate the ENV variable GREEDYBEAR_VERSION in the .env file to have this work
services:
  uwsgi:
    image: intelowlproject/greedybear:${GREEDYBEAR_VERSION}

  nginx:
    image: intelowlproject/greedybear_nginx:${GREEDYBEAR_VERSION}

  celery_beat:
    image: intelowlproject/greedybear:${GREEDYBEAR_VERSION}

  celery_worker_default:
    image: intelowlproject/greedybear:${GREEDYBEAR_VERSION}
  qcluster:
    image: intelowlproject/greedybear:${GREEDYBEAR_VERSION}