celery~=5.2.2
elasticsearch-dsl~=7.4.0
Django~=3.2.18
psycopg2-binary~=2.9.2
slack-sdk~=3.12.0
djangorestframework~=3.13.1
drf-spectacular~=0.26.1
certego-saas~=0.2.0
git+https://github.com/cdriehuys/django-rest-email-auth.git@django-bump#egg=django-rest-email-auth
django-ses == 3.1.0

