name: CI

on:
  pull_request:
    branches:
      - main
      - develop

# discard previous execution if you commit to a branch that is already running
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  detect-changes:
    uses: ./.github/workflows/_detect_changes.yml
    with:
      backend_directories: api greedybear
      frontend_directories: frontend
      ubuntu_version: latest


  frontend-tests:
    needs: detect-changes
    if: ${{ needs.detect-changes.outputs.frontend > 0 }}
    uses: ./.github/workflows/_node.yml
    with:
      working_directory: ./frontend

      use_eslint: true
      use_prettier: true
      use_stylelint: false

      run_codeql: true

      use_react: true
      check_packages_licenses: false
      use_jest: true

      use_coverage: true
      upload_coverage: true
      max_timeout: 15
      node_versions: >-
        ["20"]
      ubuntu_version: latest


  backend-tests:
     needs: detect-changes
     if: ${{ needs.detect-changes.outputs.backend > 0 }}
     uses: ./.github/workflows/_python.yml
     secrets: inherit
     with:
      working_directory: .

      use_black: false
      use_isort: false
      use_flake8: false
      use_pylint: false
      use_bandit: false
      use_autoflake: false
      use_ruff_formatter: true
      use_ruff_linter: true

      requirements_path: requirements/project-requirements.txt
      django_settings_module: greedybear.settings

      check_migrations: true
      check_requirements_licenses: false
      check_dockerfile: docker/Dockerfile

      use_postgres: true
      postgres_db: greedybear_db
      postgres_user: user
      postgres_password: password
      postgres_version: 18
      use_memcached: false
      use_elastic_search: false
      use_rabbitmq: true
      use_mongo: false
      use_celery: false

      use_coverage: true
      upload_coverage: true
      tags_for_slow_tests: main

      env: >-
        {
        "ENVIRONMENT": "ci",
        "DJANGO_SECRET": "ci_secret",
        "DB_HOST": "localhost",
        "DB_PORT": "5432",
        "DB_USER": "user",
        "DB_PASSWORD": "password",
        "ELASTIC_ENDPOINT": "test_host",
        "STAGE":"ci",
        "DEBUG": "True",
        "MOCK_CONNECTIONS": "True",
        "POSTGRES_PASSWORD": "password",
        "POSTGRES_USER": "user",
        "POSTGRES_DB": "greedybear_db",
        "HTTPS_ENABLED": "not_enabled",
        "BROKER_URL": "amqp://guest:guest@rabbitmq:5672",
        }
      python_versions: >-
        ["3.13"]
      max_timeout: 15
      ubuntu_version: 24.04
